body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #fff;
    font-family: Arial, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#landing-page {
    background-color: #61dafb;
}

#camera-page {
    background-color: #000;
    position: relative;
}

video {
    max-width: 100%;
    max-height: 100vh;
    transform-origin: center;
}

#zoom-slider {
    position: absolute;
    bottom: 80px;
    width: 80%;
}

.controls {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.mode-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mode-button:hover {
    background-color: #61dafb;
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
    color: #fff;
    background-color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #61dafb;
}
